<div class="container">
  <div *ngFor="let user of user">
    <h3>Welcome: {{ user.Username }}</h3>
  </div>

  <!-- <div class="graph-container">
    <h2>Bar Graph by Year</h2>
    <div class="graph">
      <div class="bars">
        <div class="bar" style="--height: 50%; --year: 2020">2020</div>
        <div class="bar" style="--height: 80%; --year: 2021">2021</div>
        <div class="bar" style="--height: 30%; --year: 2022">2022</div>
        <div class="bar" style="--height: 60%; --year: 2023">2023</div>
      </div>
    </div>
  </div>
</div> -->
  <!-- <canvas id="#myChart"></canvas>
</div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-center alert alert-secondary">My Bookings</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <label class="font-12">Search By Year</label>
        <select
          name="year"
          [formControl]="myControl"
          id=""
          class="form-control"
          (change)="filterYear($event)"
        >
          <option value="{{ year }}" *ngFor="let year of Years">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <h4 *ngIf="userData.length > 0 ? false : true" class="text-danger">
        {{ userData.length }}
      </h4>
      <div class="container-fluid">
        <div class="row">
          <h3>Total Count:{{ userData.length }}</h3>
          <div
            class="col-md-3"
            id="dataTables-example"
            *ngFor="let user of userData; let i = index"
          >
            <div class="card">
              <div class="card-header">
                <h6>
                  Date : <b> {{ user.Time_From | date : "shortDate" }}</b>
                </h6>
              </div>
              <div class="card-body p-2">
                <h6><b>Vehicle Type : </b> {{ user.vehical_type }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
